.wheel {
  border-radius: 50%;
  border: 1px solid limegreen;
  position: relative;
}

.monitor {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border: 1px solid white;
}